<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="body">
        <input type="checkbox" id="flash" value="flash" v-model="bizLines">
        <label for="flash">快车{{flash.name}}</label>
        <input type="checkbox" id="premium" value="premium" v-model="bizLines">
        <label for="premium">专车{{premium.name}}</label>
        <input type="checkbox" id="bus" value="bus" v-model="bizLines">
        <label for="bus">巴士{{bus.name}}</label>
        <br>
        <span>Checked lines:{{bizLines | json 4}}</span>

        
        <!-- <select v-model="bizLine" multiple>
            <option selected value="flash">快车</option>
            <option value="premium">专车</option>
            <option value="bus">巴士</option>
        </select>
        <br>
        <span>Selected:{{bizLine}}</span> -->
    </div>
</body>
<script>
    new Vue({
        el: '#body',
        data: {
            bizLines: [],
            bizLine: [],
            flash:{name:'快车'},
            premium:{name:'专车'},
            bus:{name:'巴士'},
        }
    })
</script>

</html>